@charset "UTF-8";
$disabledTxt:#bbbbbb;
$blue1: #003052;
$blue2: #3F678F;
$blue3: #f2f5f9;
$borderGray:#DDDDDD;
$bgGray:#F7F7F7;
$orange:#FC8D5E;
$glass:#8CBC28;
$sky:#CFE0FC;
$bgSky:#EFF5FE;
$white:#ffffff;
$textColor: #444444;
$secondColor: #666666;
$thirdColor: #999999;